[color]
	ui = auto

[user]
	name = Nicolas Rossi
	email = nrossi@itba.edu.ar

[alias]
	i = init
	s = status
	p = push
	a = add
	c = commit -m
	b = branch

	ra = remote add
	po = push origin
	co = checkout
	
	pom = push origin master

[pull]
	rebase = true

[url "https://github.com/"]
	insteadOf = gh:	
